<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeminiBot Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
    <style></style>
</head>

<body>
    <div id="chat-container">
        <div id="api-key-container" class="api-key-warning" style="display: none;">
            <h1>Welcome To GeminiBot</h1>
            <p>AI-powered coding assistant, driven by Google's Gemini</p>
            <img src="https://i.postimg.cc/SNkVRk6w/icon-no-BG.png" alt="icon-no-BG" border="0" />
            <p>Please set your Gemini API key to use the chat feature.</p>
            <button class="api-key-button" id="set-api-key">Set API Key</button>
        </div>

        <div id="chat-interface" style="display: none;">
            <div id="messages"></div>
            <div id="input-container">
                <textarea id="message-input" placeholder="Use @ to reference files ..." rows="1"
                    aria-label="Message input"></textarea>
                <button id="send-button">Send</button>
                <div id="file-suggestions"></div>
            </div>
        </div>
    </div>

    <script>
        
    </script>
</body>

</html>